@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap");

.navbar {
  box-shadow: 0 3px 1px -3px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.24),
    0 1px 5px 0 rgba(0, 0, 0, 0.22) !important;
}

.github-logo {
  max-height: 3.5rem !important;
  position: relative;
  top: 4px;
}

.header {
  font-size:1.5em;
}

th {
  color: white !important;
  font-weight: 600;
}

td {
  color: #EFEFEF !important;
}

.white-font {
  color: #EFEFEF !important;
  margin-bottom: 5px;
}

.user-logo {
  max-height: 2rem !important;
  position: relative;
  top: 4px;
  filter: invert(78%) sepia(68%) saturate(551%) hue-rotate(193deg)
    brightness(103%) contrast(102%);
}

.navbar-text {
  margin: 0;
  position: relative;
  color: rgb(222, 199, 255);
  border-style: solid;
  border: 1px;
  border-color: rgb(222, 199, 255);
}

.navbar-text-logout {
  margin: 0;
  position: relative;
  color: rgb(222, 199, 255);
  border-style: solid;
  border: 1px;
  border-color: rgb(222, 199, 255);
}

.navbar-logo {
  max-height: 3.5rem !important;
}

.capitalize {
  text-transform: capitalize;
}

.file-upload {
  padding: 25px;
  background-color: #2f3236;
}

.upload-container {
  width: 100%;
}

label.upload {
  width: 100%;
}

.upload-draggable {
  width: 100%;
}

html {
  overflow: auto !important;
}

.home-banner {
  margin-top: 75px;
}

.table {
  -webkit-box-shadow: 0px 13px 0px -3px rgba(0,0,0,0.39); 
  box-shadow: 0px 13px 0px -3px rgba(0,0,0,0.39);
  border: 3px solid #111;
  border-radius: 5px;
  border-collapse: separate !important;
}

.tagline {
  padding: 15px;
  margin-top: 25px;
}

.spectrogram_image {
  -webkit-box-shadow: 0px 13px 0px -3px rgba(0,0,0,0.39); 
  box-shadow: 0px 13px 0px -3px rgba(0,0,0,0.39);
  margin-bottom: 29px;
  border: 3px solid #111;
  border-radius: 5px;
  overflow: hidden;
}

.confidence_chart {
  -webkit-box-shadow: 0px 13px 0px -3px rgba(0,0,0,0.39); 
  box-shadow: 0px 13px 0px -3px rgba(0,0,0,0.39);
  border: 3px solid #111;
  border-radius: 5px;
  overflow: hidden;
}

#loading-screen {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header.white-font {
  padding-left: 0px !important;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

#results-table {
  margin-bottom: 50px;
}

#results-table tbody tr:hover {
  background-color:#6f4787;
  cursor: pointer; 
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.login-container {
  margin: 100px auto;
  width: 30%;
}

.input-boxes {
  float: right !important;
}

.login-button {
  float: center;
}

#spotify-table {
  margin-bottom: 50px;
}

#spotify-table tbody tr:hover {
  background-color:#6f4787;
  cursor: pointer; 
}

#spotify-table tbody td {
  vertical-align: middle;
}