<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/slate/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id="app">
        <template>
            <b-navbar>
                <template #brand>
                    <b-navbar-item href="/">
                        <img class="navbar-logo" src="static/assets/images/musimaker-logo.png" alt="MusiMaker">
                    </b-navbar-item>
                    <b-navbar-item href="/global_uploads">
                        <a class="navbar-text" alt="Global Uploads">
                            Global Uploads
                            </a>
                    </b-navbar-item>
                    <b-navbar-item href="/midi_upload">
                        <a class="navbar-text" alt="Midi Upload">
                            Midi Upload
                            </a>
                    </b-navbar-item>
                    <b-navbar-item href="/spotify_search">
                        <a class="navbar-text" alt="Spotify Search">
                            Spotify Search
                            </a>
                    </b-navbar-item>
                </template>
                <template #start>

                </template>

                <template #end>
                    <b-navbar-item>
                        <a href="https://github.com/zandickens/MusiMaker">
                            <img class="github-logo" src="static/assets/images/github.png" alt="GitHub Repository">
                        </a>
                    </b-navbar-item>
                </template>
            </b-navbar>
        </template>

        <div class='container'>
            <div id='login-container' class='login-container'>
                <div class='content'>
                    <h1>${formType}</h1>
                    {% if failed %}
                    <a>${failed} failed.</a>
                    {% endif %}
                </div>
                <form id='Login' action='{{ url_for("sign_in") }}'>
                    No account? <button type='button' class="input-boxes" @click='updateFormType()'>Create Account</button><br><br>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" class="input-boxes" placeholder="Enter Username" name="uname" required>
                    <br><br>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" class="input-boxes" placeholder="Enter Password" name="psw" required>
                    <br><br>
                    <input type="submit" class="input-boxes" value='Login'>
                </form>
                <form id='Register' action='{{ url_for("register") }}' style='display:none'>
                    Already have an account?<button type='button' class="input-boxes" @click='updateFormType()'>Login</button><br><br>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" class="input-boxes" placeholder="Enter Username" name="uname" required>
                    <br><br>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" class="input-boxes" placeholder="Enter Password" name="psw" required>
                    <br><br>
                    <label for="conf"><b>Confirm</b></label>
                    <input type="password" class="input-boxes" placeholder="Confirm Password" name="conf" required>
                    <br><br>
                    <input type="submit" class="input-boxes" value='Register'>
                </form>
            </div>
        </div>
    </div>
</body>


<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script type="application/javascript" src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script type="application/javascript" src="https://unpkg.com/buefy/dist/components/table"></script>
<script type="application/javascript" src="https://unpkg.com/buefy/dist/components/input"></script>
<script src="/static/js/login.js"></script>

</html>