<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/slate/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>

<body>
    <div id="app">
        <template>
            <b-navbar>
                <template #brand>
                    <b-navbar-item href="/">
                        <img class="navbar-logo" src="static/assets/images/musimaker-logo.png" alt="MusiMaker">
                    </b-navbar-item>
                    <b-navbar-item href="/global_uploads">
                        <a class="navbar-text" alt="Global Uploads">
                            Global Uploads
                            </a>
                    </b-navbar-item>
                    <b-navbar-item href="/midi_upload">
                        <a class="navbar-text" alt="Midi Upload">
                            Midi Upload
                            </a>
                    </b-navbar-item>
                    <b-navbar-item href="/spotify_search">
                        <a class="navbar-text" alt="Spotify Search">
                            Spotify Search
                            </a>
                    </b-navbar-item>
                </template>
                <template #start>

                </template>

                <template #end>
                    {% if user != "no_current_user" %}
                    <b-navbar-item>
                        <a class='navbar-text' href='/user_uploads'>
                            {{user}}
                        </a>
                    </b-navbar-item>
                    <b-navbar-item>
                        <a class='navbar-text-logout' href='/sign_out'>
                            Logout
                        </a>
                    </b-navbar-item>
                    {% else %}
                    <b-navbar-item>
                    <a href='login' class='navbar-text'>
                        SIGN IN
                    </a>
                    </b-navbar-item>
                    {% endif %}
                    <b-navbar-item>
                        <a href="https://github.com/zandickens/MusiMaker">
                            <img class="github-logo" src="static/assets/images/github.png" alt="GitHub Repository">
                        </a>
                    </b-navbar-item>
                </template>
            </b-navbar>
        </template>
        <div class="container">
            <div class="columns home-banner">
                <div class="column">
                    <img src="static/assets/images/melody-image.png">
                    <div class = "content tagline">
                        <h1 style="color: #efefef; text-align: center;"> Upload a Midi of a melody you are working on. <br> Upload your first couple notes and let MusiMaker do the rest.</h1><br>
                    </div>
                    <div class="container file-upload"> 
                        <template>
                            <section>
                                <b-field>
                                    <b-upload v-model="melodyFiles" drag-drop>
                                        <section class="section">
                                            <div class="content has-text-centered">
                                                <p>
                                                    <b-icon pack="fas" icon="upload" size="is-large">
                                                    </b-icon>
                                                </p>
                                                <p>Drop your files here or click to upload</p>
                                            </div>
                                        </section>
                                    </b-upload>
                                </b-field>

                                <div class="tags">
                                    <span v-if="melodyFiles" class="tag is-primary">
                                        ${melodyFiles.name}
                                        <button class="delete is-small" type="button" @click="deleteMelodyFile()">
                                        </button>
                                    </span>
                                </div>

                                <b-button class="upload-button" @click="uploadMelodyFile(); openLoading();">Upload</b-button>
                                    <b-loading :is-full-page="isFullPage" v-model="isLoading" :can-cancel="true"></b-loading>
                            </section>
                        </template>
                    </div>
                </div>
                <div class="column">
                    <img src="static/assets/images/rhythm-image.png">
                    <div class = "content tagline">
                        <h1 style="color: #efefef; text-align: center;"> Upload a Midi of a Drum pattern you are working on. <br> Upload your first couple beats and let MusiMaker do the rest.</h1><br>
                    </div>
                    <div class="container file-upload">
                        <template>
                            <section>
                                <b-field>
                                    <b-upload v-model="drumFiles" drag-drop>
                                        <section class="section">
                                            <div class="content has-text-centered">
                                                <p>
                                                    <b-icon pack="fas" icon="upload" size="is-large">
                                                    </b-icon>
                                                </p>
                                                <p>Drop your files here or click to upload</p>
                                            </div>
                                        </section>
                                    </b-upload>
                                </b-field>

                                <div class="tags">
                                    <span v-if="drumFiles" class="tag is-primary">
                                        ${drumFiles.name}
                                        <button class="delete is-small" type="button" @click="deleteDrumFile()">
                                        </button>
                                    </span>
                                </div>

                                <b-button class="upload-button" @click="uploadDrumFile(); openLoading();">Upload</b-button>
                                    <b-loading :is-full-page="isFullPage" v-model="isLoading" :can-cancel="true"></b-loading>
                            </section>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script type="application/javascript" src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script type="application/javascript" src="https://unpkg.com/buefy/dist/components/table"></script>
<script type="application/javascript" src="https://unpkg.com/buefy/dist/components/input"></script>
<script src="/static/js/midi.js"></script>
<script>
    const user = {{user|tojson}}
</script>

</html>